# Secrets & Local Environment Variables
.env
.env.local
.env.*.local
*.pem
*.crx

# Dependencies
node_modules/
.pnpm-store/

# Build Output
dist/
dist-zip/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & System Files
.vs/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
